@import url('https://fonts.googleapis.com/css2?family=Jua&family=Kanit:ital,wght@0,400;0,500;0,700;1,300&display=swap');

:root {
    --heading-color: #543285;
    --trakteer-color: #BF1E2E;
    --soft-purple: #997FBF;
    --yellow: #FCFD95;
    --discord-color: #5865F2;
}

h1,
h2,
h3{
    padding: 0;
    margin: 0;
}


a {
    text-decoration: none;
    color: black;
    background-color: #FCFD95;
    padding: 13px 16px;
    font-family: 'Jua', sans-serif;
    border-radius: 4px;
    letter-spacing: 0.7px;
    transition: .2s ease-in-out;
}

a:hover{
    transform: translate(5px, -5px);
}

body {
    padding: auto;
    margin: auto;
    height: 200vh;
}

.container {
    font-size: 18px;
    padding: 10px 0;
    width: 80%;
    margin: auto;
}

.navbar {
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 50;
}

.navbar .content-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container{
    border-bottom: 1.5px solid var(--soft-purple);
}

.navbar .left-side h1 {
    font-family: 'Jua', sans-serif;
    color: var(--heading-color);
    letter-spacing: 2px;
}

.navbar .right-side a.support-me {
    color: white;
    background-color: var(--trakteer-color);
}

.navbar .center-side{
    font-size: 20px;
    display: flex;
    gap: 1.5em;
    font-family: 'Kanit', sans-serif;
}

.navbar .center-side a{
    background-color: transparent;
    padding: 0;
}

.navbar .center-side a:hover{
    transform: translate(0,0);
}

.navbar .center-side a i{
    display: none;
}

.container hr{
    border-color: var(--soft-purple);
}

main {
    width: 100%;
}

main .container{
    display: flex;
    justify-content: space-between;
}

main .right-side {
    position: fixed;
    width: 28%;
    height: 100vh;
    right: 10%;
    background-color: var(--yellow);
    display: flex;
    justify-content: end;
    align-items: flex-end;
    z-index: -10;
}

main .right-side img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .left-side {
    max-width: 60%;
    padding: 15vh 0;
}

main .left-side h1,
main .left-side h2 {
    color: var(--heading-color);
    font-family: 'Jua', sans-serif;
    font-size: 2.6em;
}

main .left-side h1 {
    font-size: 4em;
}

main .left-side p {
    width: 80%;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.6em;
}

main .left-side #section-1 .buttons {
    width: 80%;
    display: flex;
    gap: 3em;
    justify-content: space-between;
}

main .left-side #section-1 .buttons a.support-me{
    background-color: var(--trakteer-color);
    color: white;
}

main .left-side #section-1 .buttons a.my-content{
    background-color: var(--soft-purple);
    color: white;
}

main .left-side #section-1 .buttons a.community{
    color: white;
    background-color: var(--discord-color);
}

main .left-side #section-1 .content h1,
main .left-side #section-1 .content h2{
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    color: black;
    font-size: 1.4em;
}

main .left-side #section-1 .content h1{
    font-weight: 700;
    font-size: 3.5em;
}

main .left-side #section-1 .content {
    margin-top: 3em;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

main .left-side #section-2 {
    margin: 5em 0;
}

main .left-side #section-2 p {
    text-align: justify;
    font-style: italic;
    font-size: 300;
    font-size: 1.3em;
}

.parent-read-more{
    margin-top: 2em;
    display: flex;
}

main .left-side #section-2 a.read-more{
    background-color: var(--soft-purple);
    color: white;
}

footer{
    padding: 5px;
    text-align: center;
    background-color: var(--heading-color);
    color: white;
}

@media only screen and (max-width: 768px) {
    .navbar {
        bottom: 0;
        padding: 0.9em 0;
        border-top: 2px solid var(--soft-purple);
    }

    .container{
        width: 90%;
        padding: 0;
    }

    .navbar .container{
        border: none;
    }

    .navbar .left-side{
        display: none;
    }

    .navbar .center-side {
        gap: 3em;
    }

    .navbar .center-side a i{
        display: block;
        font-size: 1.2em;
    }

    .navbar .center-side a{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--soft-purple);
        color: white;
        width: 45px;
        height: 45px;
    }

    .navbar .center-side a span{
        display: none;
    }

    main .container{
        flex-direction: column;
    }

    main .right-side {
        position: relative;
        order: -1;
        width: 100%;
        right: 0;
        max-height: 15em;
    }

    main .left-side {
        padding: 1em 0;
        max-width: 100%;
        text-align: center;
    }

    main .left-side h2{
        font-size: 1.6em;
    }

    main .left-side h1{
        font-size: 3em;
    }

    main .left-side p{
        width: 100%;
        font-size: 1.2em;
    }

    main .left-side #section-1 {
        width: 100%;
    }

    main .left-side #section-1 .buttons{
        width: 100%;
        flex-direction: column;
        gap: 1em;
    }

    main .left-side #section-1 .buttons a.support-me{
        order: -1;
    }

    main .left-side #section-1 .content{
        width: 100%;
        flex-direction: column;
        gap: 1em;
    }

    .parent-read-more{
        justify-content: center;
    }
}